In [6]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

path = "E:/A/"

df = pd.read_csv(path+"bank-additional-full.csv",delimiter=";")
df.shape
df.columns
df.dtypes
df.head(10)

df["y"].value_counts()

df.describe()
del(df["duration"])

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

def label_encoder(df,column):
    le = preprocessing.LabelEncoder()
    df[column]=le.fit_transform(df[column])
    ohe = preprocessing.OneHotEncoder()
    temp_array = ohe.fit_transform(df[[column]]).toarray()
    column_names = [column+"_"+str(m) for m in le.classes_]
    return(pd.DataFrame(data=temp_array,columns = column_names))


categorical_variables = ["job","poutcome","marital","education","default","housing","loan","contact","month","day_of_week"]
target_variable = ["y"]
numeric_variables = list(set(df.columns.values) - set(categorical_variables) -set(target_variable))


new_df = df[numeric_variables]
for column in categorical_variables:
    new_df= pd.concat([new_df,label_encoder(df,column)],axis=1)
new_df.shape
new_df.columns

target = label_encoder(df,"y")
#Split into test and train 

X, X_test, y , y_test = train_test_split(new_df,target["y_yes"],test_size=0.3,stratify=target["y_yes"])


from xgboost import XGBClassifier

model = XGBClassifier(max_depth = 5, learning_rate = 0.01,n_estimators = 500)
model.fit(X,y)

y_train = model.predict(X)

from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

accuracy_score(y,y_train)
confusion_matrix(y,y_train)
precision_score(y,y_train)
recall_score(y,y_train)
y.value_counts()

y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)
precision_score(y_test,y_pred)
recall_score(y_test,y_pred)
y.value_counts()
model = XGBClassifier()



from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000, max_depth = 6, min_samples_leaf=15,random_state = 2017,class_weight = {0:0.2,1:0.8})
model.fit(X,y)
model.score(X,y)
y_pred = model.predict(X_test)
confusion_matrix(y_test,y_pred)

C:\Users\Praveen\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\Praveen\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\Praveen\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

array([[10056,   909],
       [  650,   742]], dtype=int64)

In [21]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [22]:
new_df.columns

Index(['campaign', 'nr.employed', 'age', 'euribor3m', 'previous',
       'cons.conf.idx', 'cons.price.idx', 'emp.var.rate', 'pdays',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'poutcome_failure', 'poutcome_nonexistent', 'poutcome_success',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed'],
      dtype='object')

In [23]:
target

       y_no  y_yes
0       1.0    0.0
1       1.0    0.0
2       1.0    0.0
3       1.0    0.0
4       1.0    0.0
5       1.0    0.0
6       1.0    0.0
7       1.0    0.0
8       1.0    0.0
9       1.0    0.0
10      1.0    0.0
11      1.0    0.0
12      1.0    0.0
13      1.0    0.0
14      1.0    0.0
15      1.0    0.0
16      1.0    0.0
17      1.0    0.0
18      1.0    0.0
19      1.0    0.0
20      1.0    0.0
21      1.0    0.0
22      1.0    0.0
23      1.0    0.0
24      1.0    0.0
25      1.0    0.0
26      1.0    0.0
27      1.0    0.0
28      1.0    0.0
29      1.0    0.0
...     ...    ...
41158   0.0    1.0
41159   0.0    1.0
41160   0.0    1.0
41161   1.0    0.0
41162   1.0    0.0
41163   0.0    1.0
41164   0.0    1.0
41165   0.0    1.0
41166   0.0    1.0
41167   1.0    0.0
41168   1.0    0.0
41169   1.0    0.0
41170   1.0    0.0
41171   0.0    1.0
41172   0.0    1.0
41173   0.0    1.0
41174   0.0    1.0
41175   1.0    0.0
41176   1.0    0.0
41177   1.0    0.0
41178   0.0    1.0
41179   1.0    0.0
41180   1.0    0.0
41181   0.0    1.0
41182   1.0    0.0
41183   0.0    1.0
41184   1.0    0.0
41185   1.0    0.0
41186   0.0    1.0
41187   1.0    0.0

[41188 rows x 2 columns]

In [24]:
new_df.shape

(41188, 62)

In [25]:
df.shape

(41188, 20)

In [26]:
target_variable

['y']